.box1 {
	border:2px solid blue;
	margin-top:10px;
	margin-left:10px;
	width:100px;
	height:100px;
}

.box2 {
	border:2px solid grey;
	margin-top:10px;
	margin-left:10px;
	width:80px;
	height:80px;
}

.box2 image {
	width:50px;
	margin-left:15px;
}